<%= form_with model: [ @category, @task ], local: true, data: {turbo: false} do |form| %>
     <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field">
        <%= form.label :task %>
        <%= form.text_field :task %><br/>
    </div>

    <div class="field">
        <%= form.label :date %>
        <%= form.date_field :date %>
    </div>

    <div>
        <%= form.submit "Create task"%>
    </div>

<% end %>