<table class="table-data">
  <tr>
    <!-- Task column -->
    <td> 
        <%= task.task %>
    </td>

    <!-- Action column -->
    <td>
      <!-- Additional user story: As a user, I want to mark a task as completed so that I can get that dopamine hit -->  
      <%= form_for(task, url: category_task_path(@category, task), method: :patch) do |f| %>
        <%= f.check_box :completed, onchange: "this.form.submit()" %>
          <span>Mark as complete</span>
      <% end %>

      <% unless task.completed? %>
        <%= link_to "Edit", edit_category_task_path(@category, task) %>
      <% end %>

      <!-- # User story #7: As a user, I want to delete a task to lessen my unnecessary daily tasks. -->
      <%= link_to "Delete", category_task_path(@category, task),
      method: :delete, data: { turbo_confirm: "Are you sure?" } %>
    </td>

    <!-- Assigned date column -->
    <td><%= task.date %></td>

    <!-- Status column -->
    <td><%= task.completed ? 'Completed' : 'Incomplete' %></td>
  </tr>
 </table>

