<%= form_with(model: @category, local: true, data: { turbo: true }) do |form| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this object from being saved:</h2>
      <ul>
        <% @category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %><br/>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <% if @category.new_record? %>
      <%= form.submit "Create Category", class: "create-button" %>
    <% else %>
      <%= form.submit "Update Category", class: "create-button" %>
    <% end %>
  </div>

<% end %>