<h2 class="title">Journal App</h2>
<%= button_to "New Category", new_category_path, method: :get, class: "create-button" %>

<div class="flexbox-container">   
    <% if @categories.any? %>
        <% @categories.each do |category| %>
            <div class="category-container">
                <h3><%= category.title %></h3>
                <p><%= category.description %></p>
                <div class="today-task-container">
                    <p>Pending tasks: <%= @pending_tasks_count[category.id] || 0 %></p>
            </div>
            <div class="show-category-link">
                <%= link_to "Show this category", category %>
            </div>
        </div>
    <% end %>
    <% else %>
        <p>No categories post yet.</p>
    <% end %>
</div>
